gtxh_m/Web References/com.gtxh.market/MarketAppService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ToOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="loginInfoId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="resourceId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="bprice" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="bweight" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="tradeType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IP" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ToOrderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ToOrderResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ResourceDetail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="resourceId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ResourceDetailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ResourceDetailResult" type="tns:ResourceModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ResourceModel">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="dxId" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="LoginInfoID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="UserID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="YsIndex" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ResourceId" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="SortID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="NsortID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ProvinceID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CityID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Mobile" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Tel400" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProvinceName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CityName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SortName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NsortName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Spec" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Materials" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Yieldly" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CangKu" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Discuss" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Price" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Discount" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Weight" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="CountType" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PublishTime" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="DxId" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ClientInfoID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="TradeType" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="BookTime" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="CurrentState" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IsTradeNotice" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TradeTime" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="OrderID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PzStatus" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddResource">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="loginInfoID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="provinceID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="cityID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="sortID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="nsortID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="specs" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="materials" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="yieldly" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="price" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="weight" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="countType" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="discount" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="cangku" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="resourceId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddResourceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddResourceResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetYieldly">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetYieldlyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetYieldlyResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MarketResourceList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pageSize" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pageIndex" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="sortID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="nsortID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="provinceID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="yieldlydirect" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="spec" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="memberId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="isSearch" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MarketResourceListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MarketResourceListResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="1" maxOccurs="1" name="total" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MarketResourceListOfYieldly">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pageSize" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pageIndex" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="sortID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="nsortID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="provinceID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="yieldlydirect" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="spec" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="memberId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="isSearch" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MarketResourceListOfYieldlyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MarketResourceListOfYieldlyResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="1" maxOccurs="1" name="total" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MyMarketResourceList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pageSize" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pageIndex" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="sortID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="nsortID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="provinceID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="cityID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="spec" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="loginInfoID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="status" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MyMarketResourceListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MyMarketResourceListResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="1" maxOccurs="1" name="total" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DirectResourceList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pageSize" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pageIndex" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="loginInfoID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="sortID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="nsortID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="provinceID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="cityID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="specs" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mobile" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DirectResourceListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DirectResourceListResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="1" maxOccurs="1" name="totalCount" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FbResource">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="resourceIds" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="loginInfoID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="restype" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pubtype" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IP" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FbResourceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FbResourceResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FbDirectResource">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="loginInfoID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="mobile" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="resourceIds" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IP" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FbDirectResourceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FbDirectResourceResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DirectToOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="resourceIds" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="loginInfoID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DirectToOrderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DirectToOrderResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConfirmOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="loginInfoID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="resourceId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="IP" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConfirmOrderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConfirmOrderResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OutOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="loginInfoID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="resourceId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OutOrderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="OutOrderResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ToBeConfirmedOrderList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pageSize" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pageIndex" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="loginInfoID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="status" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="role" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="startTime" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="endTime" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ToBeConfirmedOrderListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ToBeConfirmedOrderListResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="1" maxOccurs="1" name="totalCount" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CompanyInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CompanyInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CompanyInfoResult" type="tns:CompanyModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CompanyModel">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="MemberId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CompanyName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Mobile" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Tel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="OrderHistoryList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pageSize" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pageIndex" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="loginInfoID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="role" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="startTime" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="endTime" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="orderID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OrderHistoryListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OrderHistoryListResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="1" maxOccurs="1" name="totalCount" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ResourceOrderDetail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ResourceOrderDetailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ResourceOrderDetailResult" type="tns:ResourceModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BackResource">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="loginInfoID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="resourceIds" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BackResourceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="BackResourceResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadCredential">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="loginInfoID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="orderID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="imgurl" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadCredentialResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UploadCredentialResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OrderHistoryDetail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="loginInfoID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OrderHistoryDetailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OrderHistoryDetailResult" type="tns:ResourceModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TradeOrderList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pageSize" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pageIndex" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="loginInfoID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="role" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="startTime" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="endTime" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TradeOrderListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TradeOrderListResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="1" maxOccurs="1" name="totalCount" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ToTradeOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="role" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="isSuccess" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="IP" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ToTradeOrderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ToTradeOrderResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BaoBalance">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="loginInfoID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BaoBalanceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="BaoBalanceResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateCard">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="loginInfoID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateCardResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ValidateCardResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendDirectResourceList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pageSize" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pageIndex" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="loginInfoID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="sortID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="nsortID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="provinceID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="cityID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="specs" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mobile" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendDirectResourceListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendDirectResourceListResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="1" maxOccurs="1" name="totalCount" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegistMarket">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="loginInfoID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="IP" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegistMarketResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RegistMarketResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ToOrderSoapIn">
    <wsdl:part name="parameters" element="tns:ToOrder" />
  </wsdl:message>
  <wsdl:message name="ToOrderSoapOut">
    <wsdl:part name="parameters" element="tns:ToOrderResponse" />
  </wsdl:message>
  <wsdl:message name="ResourceDetailSoapIn">
    <wsdl:part name="parameters" element="tns:ResourceDetail" />
  </wsdl:message>
  <wsdl:message name="ResourceDetailSoapOut">
    <wsdl:part name="parameters" element="tns:ResourceDetailResponse" />
  </wsdl:message>
  <wsdl:message name="AddResourceSoapIn">
    <wsdl:part name="parameters" element="tns:AddResource" />
  </wsdl:message>
  <wsdl:message name="AddResourceSoapOut">
    <wsdl:part name="parameters" element="tns:AddResourceResponse" />
  </wsdl:message>
  <wsdl:message name="GetYieldlySoapIn">
    <wsdl:part name="parameters" element="tns:GetYieldly" />
  </wsdl:message>
  <wsdl:message name="GetYieldlySoapOut">
    <wsdl:part name="parameters" element="tns:GetYieldlyResponse" />
  </wsdl:message>
  <wsdl:message name="MarketResourceListSoapIn">
    <wsdl:part name="parameters" element="tns:MarketResourceList" />
  </wsdl:message>
  <wsdl:message name="MarketResourceListSoapOut">
    <wsdl:part name="parameters" element="tns:MarketResourceListResponse" />
  </wsdl:message>
  <wsdl:message name="MarketResourceListOfYieldlySoapIn">
    <wsdl:part name="parameters" element="tns:MarketResourceListOfYieldly" />
  </wsdl:message>
  <wsdl:message name="MarketResourceListOfYieldlySoapOut">
    <wsdl:part name="parameters" element="tns:MarketResourceListOfYieldlyResponse" />
  </wsdl:message>
  <wsdl:message name="MyMarketResourceListSoapIn">
    <wsdl:part name="parameters" element="tns:MyMarketResourceList" />
  </wsdl:message>
  <wsdl:message name="MyMarketResourceListSoapOut">
    <wsdl:part name="parameters" element="tns:MyMarketResourceListResponse" />
  </wsdl:message>
  <wsdl:message name="DirectResourceListSoapIn">
    <wsdl:part name="parameters" element="tns:DirectResourceList" />
  </wsdl:message>
  <wsdl:message name="DirectResourceListSoapOut">
    <wsdl:part name="parameters" element="tns:DirectResourceListResponse" />
  </wsdl:message>
  <wsdl:message name="FbResourceSoapIn">
    <wsdl:part name="parameters" element="tns:FbResource" />
  </wsdl:message>
  <wsdl:message name="FbResourceSoapOut">
    <wsdl:part name="parameters" element="tns:FbResourceResponse" />
  </wsdl:message>
  <wsdl:message name="FbDirectResourceSoapIn">
    <wsdl:part name="parameters" element="tns:FbDirectResource" />
  </wsdl:message>
  <wsdl:message name="FbDirectResourceSoapOut">
    <wsdl:part name="parameters" element="tns:FbDirectResourceResponse" />
  </wsdl:message>
  <wsdl:message name="DirectToOrderSoapIn">
    <wsdl:part name="parameters" element="tns:DirectToOrder" />
  </wsdl:message>
  <wsdl:message name="DirectToOrderSoapOut">
    <wsdl:part name="parameters" element="tns:DirectToOrderResponse" />
  </wsdl:message>
  <wsdl:message name="ConfirmOrderSoapIn">
    <wsdl:part name="parameters" element="tns:ConfirmOrder" />
  </wsdl:message>
  <wsdl:message name="ConfirmOrderSoapOut">
    <wsdl:part name="parameters" element="tns:ConfirmOrderResponse" />
  </wsdl:message>
  <wsdl:message name="OutOrderSoapIn">
    <wsdl:part name="parameters" element="tns:OutOrder" />
  </wsdl:message>
  <wsdl:message name="OutOrderSoapOut">
    <wsdl:part name="parameters" element="tns:OutOrderResponse" />
  </wsdl:message>
  <wsdl:message name="ToBeConfirmedOrderListSoapIn">
    <wsdl:part name="parameters" element="tns:ToBeConfirmedOrderList" />
  </wsdl:message>
  <wsdl:message name="ToBeConfirmedOrderListSoapOut">
    <wsdl:part name="parameters" element="tns:ToBeConfirmedOrderListResponse" />
  </wsdl:message>
  <wsdl:message name="CompanyInfoSoapIn">
    <wsdl:part name="parameters" element="tns:CompanyInfo" />
  </wsdl:message>
  <wsdl:message name="CompanyInfoSoapOut">
    <wsdl:part name="parameters" element="tns:CompanyInfoResponse" />
  </wsdl:message>
  <wsdl:message name="OrderHistoryListSoapIn">
    <wsdl:part name="parameters" element="tns:OrderHistoryList" />
  </wsdl:message>
  <wsdl:message name="OrderHistoryListSoapOut">
    <wsdl:part name="parameters" element="tns:OrderHistoryListResponse" />
  </wsdl:message>
  <wsdl:message name="ResourceOrderDetailSoapIn">
    <wsdl:part name="parameters" element="tns:ResourceOrderDetail" />
  </wsdl:message>
  <wsdl:message name="ResourceOrderDetailSoapOut">
    <wsdl:part name="parameters" element="tns:ResourceOrderDetailResponse" />
  </wsdl:message>
  <wsdl:message name="BackResourceSoapIn">
    <wsdl:part name="parameters" element="tns:BackResource" />
  </wsdl:message>
  <wsdl:message name="BackResourceSoapOut">
    <wsdl:part name="parameters" element="tns:BackResourceResponse" />
  </wsdl:message>
  <wsdl:message name="UploadCredentialSoapIn">
    <wsdl:part name="parameters" element="tns:UploadCredential" />
  </wsdl:message>
  <wsdl:message name="UploadCredentialSoapOut">
    <wsdl:part name="parameters" element="tns:UploadCredentialResponse" />
  </wsdl:message>
  <wsdl:message name="OrderHistoryDetailSoapIn">
    <wsdl:part name="parameters" element="tns:OrderHistoryDetail" />
  </wsdl:message>
  <wsdl:message name="OrderHistoryDetailSoapOut">
    <wsdl:part name="parameters" element="tns:OrderHistoryDetailResponse" />
  </wsdl:message>
  <wsdl:message name="TradeOrderListSoapIn">
    <wsdl:part name="parameters" element="tns:TradeOrderList" />
  </wsdl:message>
  <wsdl:message name="TradeOrderListSoapOut">
    <wsdl:part name="parameters" element="tns:TradeOrderListResponse" />
  </wsdl:message>
  <wsdl:message name="ToTradeOrderSoapIn">
    <wsdl:part name="parameters" element="tns:ToTradeOrder" />
  </wsdl:message>
  <wsdl:message name="ToTradeOrderSoapOut">
    <wsdl:part name="parameters" element="tns:ToTradeOrderResponse" />
  </wsdl:message>
  <wsdl:message name="BaoBalanceSoapIn">
    <wsdl:part name="parameters" element="tns:BaoBalance" />
  </wsdl:message>
  <wsdl:message name="BaoBalanceSoapOut">
    <wsdl:part name="parameters" element="tns:BaoBalanceResponse" />
  </wsdl:message>
  <wsdl:message name="ValidateCardSoapIn">
    <wsdl:part name="parameters" element="tns:ValidateCard" />
  </wsdl:message>
  <wsdl:message name="ValidateCardSoapOut">
    <wsdl:part name="parameters" element="tns:ValidateCardResponse" />
  </wsdl:message>
  <wsdl:message name="SendDirectResourceListSoapIn">
    <wsdl:part name="parameters" element="tns:SendDirectResourceList" />
  </wsdl:message>
  <wsdl:message name="SendDirectResourceListSoapOut">
    <wsdl:part name="parameters" element="tns:SendDirectResourceListResponse" />
  </wsdl:message>
  <wsdl:message name="RegistMarketSoapIn">
    <wsdl:part name="parameters" element="tns:RegistMarket" />
  </wsdl:message>
  <wsdl:message name="RegistMarketSoapOut">
    <wsdl:part name="parameters" element="tns:RegistMarketResponse" />
  </wsdl:message>
  <wsdl:portType name="MarketAppServiceSoap">
    <wsdl:operation name="ToOrder">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">提交订单接口（下单）</wsdl:documentation>
      <wsdl:input message="tns:ToOrderSoapIn" />
      <wsdl:output message="tns:ToOrderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ResourceDetail">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取单条资源详情</wsdl:documentation>
      <wsdl:input message="tns:ResourceDetailSoapIn" />
      <wsdl:output message="tns:ResourceDetailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddResource">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">添加超市资源</wsdl:documentation>
      <wsdl:input message="tns:AddResourceSoapIn" />
      <wsdl:output message="tns:AddResourceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetYieldly">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取超市有货直销钢厂列表</wsdl:documentation>
      <wsdl:input message="tns:GetYieldlySoapIn" />
      <wsdl:output message="tns:GetYieldlySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MarketResourceList">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取超市资源列表</wsdl:documentation>
      <wsdl:input message="tns:MarketResourceListSoapIn" />
      <wsdl:output message="tns:MarketResourceListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MarketResourceListOfYieldly">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取超市钢厂直销资源列表</wsdl:documentation>
      <wsdl:input message="tns:MarketResourceListOfYieldlySoapIn" />
      <wsdl:output message="tns:MarketResourceListOfYieldlySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MyMarketResourceList">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取超市我的资源中心列表</wsdl:documentation>
      <wsdl:input message="tns:MyMarketResourceListSoapIn" />
      <wsdl:output message="tns:MyMarketResourceListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DirectResourceList">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取我收到的定向资源列表</wsdl:documentation>
      <wsdl:input message="tns:DirectResourceListSoapIn" />
      <wsdl:output message="tns:DirectResourceListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FbResource">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">发布超市资源</wsdl:documentation>
      <wsdl:input message="tns:FbResourceSoapIn" />
      <wsdl:output message="tns:FbResourceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FbDirectResource">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">发布定向资源</wsdl:documentation>
      <wsdl:input message="tns:FbDirectResourceSoapIn" />
      <wsdl:output message="tns:FbDirectResourceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DirectToOrder">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">定向资源认购</wsdl:documentation>
      <wsdl:input message="tns:DirectToOrderSoapIn" />
      <wsdl:output message="tns:DirectToOrderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmOrder">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">确认订单操作</wsdl:documentation>
      <wsdl:input message="tns:ConfirmOrderSoapIn" />
      <wsdl:output message="tns:ConfirmOrderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="OutOrder">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">放弃订单操作</wsdl:documentation>
      <wsdl:input message="tns:OutOrderSoapIn" />
      <wsdl:output message="tns:OutOrderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ToBeConfirmedOrderList">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取待确认订单</wsdl:documentation>
      <wsdl:input message="tns:ToBeConfirmedOrderListSoapIn" />
      <wsdl:output message="tns:ToBeConfirmedOrderListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CompanyInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取订单对方公司信息</wsdl:documentation>
      <wsdl:input message="tns:CompanyInfoSoapIn" />
      <wsdl:output message="tns:CompanyInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="OrderHistoryList">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取已确认订单列表</wsdl:documentation>
      <wsdl:input message="tns:OrderHistoryListSoapIn" />
      <wsdl:output message="tns:OrderHistoryListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ResourceOrderDetail">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取订单详情</wsdl:documentation>
      <wsdl:input message="tns:ResourceOrderDetailSoapIn" />
      <wsdl:output message="tns:ResourceOrderDetailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BackResource">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">撤回资源</wsdl:documentation>
      <wsdl:input message="tns:BackResourceSoapIn" />
      <wsdl:output message="tns:BackResourceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadCredential">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">上传凭证</wsdl:documentation>
      <wsdl:input message="tns:UploadCredentialSoapIn" />
      <wsdl:output message="tns:UploadCredentialSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="OrderHistoryDetail">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取已确认订单详情</wsdl:documentation>
      <wsdl:input message="tns:OrderHistoryDetailSoapIn" />
      <wsdl:output message="tns:OrderHistoryDetailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TradeOrderList">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取交易中的订单</wsdl:documentation>
      <wsdl:input message="tns:TradeOrderListSoapIn" />
      <wsdl:output message="tns:TradeOrderListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ToTradeOrder">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">交易确认</wsdl:documentation>
      <wsdl:input message="tns:ToTradeOrderSoapIn" />
      <wsdl:output message="tns:ToTradeOrderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BaoBalance">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">保证金余额</wsdl:documentation>
      <wsdl:input message="tns:BaoBalanceSoapIn" />
      <wsdl:output message="tns:BaoBalanceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateCard">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">是否通过三证</wsdl:documentation>
      <wsdl:input message="tns:ValidateCardSoapIn" />
      <wsdl:output message="tns:ValidateCardSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendDirectResourceList">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取我发送的定向资源列表</wsdl:documentation>
      <wsdl:input message="tns:SendDirectResourceListSoapIn" />
      <wsdl:output message="tns:SendDirectResourceListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RegistMarket">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">注册超市或修改超市信息</wsdl:documentation>
      <wsdl:input message="tns:RegistMarketSoapIn" />
      <wsdl:output message="tns:RegistMarketSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MarketAppServiceSoap" type="tns:MarketAppServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ToOrder">
      <soap:operation soapAction="http://tempuri.org/ToOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResourceDetail">
      <soap:operation soapAction="http://tempuri.org/ResourceDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddResource">
      <soap:operation soapAction="http://tempuri.org/AddResource" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetYieldly">
      <soap:operation soapAction="http://tempuri.org/GetYieldly" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MarketResourceList">
      <soap:operation soapAction="http://tempuri.org/MarketResourceList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MarketResourceListOfYieldly">
      <soap:operation soapAction="http://tempuri.org/MarketResourceListOfYieldly" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MyMarketResourceList">
      <soap:operation soapAction="http://tempuri.org/MyMarketResourceList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DirectResourceList">
      <soap:operation soapAction="http://tempuri.org/DirectResourceList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FbResource">
      <soap:operation soapAction="http://tempuri.org/FbResource" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FbDirectResource">
      <soap:operation soapAction="http://tempuri.org/FbDirectResource" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DirectToOrder">
      <soap:operation soapAction="http://tempuri.org/DirectToOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmOrder">
      <soap:operation soapAction="http://tempuri.org/ConfirmOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OutOrder">
      <soap:operation soapAction="http://tempuri.org/OutOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ToBeConfirmedOrderList">
      <soap:operation soapAction="http://tempuri.org/ToBeConfirmedOrderList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CompanyInfo">
      <soap:operation soapAction="http://tempuri.org/CompanyInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OrderHistoryList">
      <soap:operation soapAction="http://tempuri.org/OrderHistoryList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResourceOrderDetail">
      <soap:operation soapAction="http://tempuri.org/ResourceOrderDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BackResource">
      <soap:operation soapAction="http://tempuri.org/BackResource" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadCredential">
      <soap:operation soapAction="http://tempuri.org/UploadCredential" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OrderHistoryDetail">
      <soap:operation soapAction="http://tempuri.org/OrderHistoryDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TradeOrderList">
      <soap:operation soapAction="http://tempuri.org/TradeOrderList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ToTradeOrder">
      <soap:operation soapAction="http://tempuri.org/ToTradeOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BaoBalance">
      <soap:operation soapAction="http://tempuri.org/BaoBalance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateCard">
      <soap:operation soapAction="http://tempuri.org/ValidateCard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendDirectResourceList">
      <soap:operation soapAction="http://tempuri.org/SendDirectResourceList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistMarket">
      <soap:operation soapAction="http://tempuri.org/RegistMarket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MarketAppServiceSoap12" type="tns:MarketAppServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ToOrder">
      <soap12:operation soapAction="http://tempuri.org/ToOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResourceDetail">
      <soap12:operation soapAction="http://tempuri.org/ResourceDetail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddResource">
      <soap12:operation soapAction="http://tempuri.org/AddResource" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetYieldly">
      <soap12:operation soapAction="http://tempuri.org/GetYieldly" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MarketResourceList">
      <soap12:operation soapAction="http://tempuri.org/MarketResourceList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MarketResourceListOfYieldly">
      <soap12:operation soapAction="http://tempuri.org/MarketResourceListOfYieldly" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MyMarketResourceList">
      <soap12:operation soapAction="http://tempuri.org/MyMarketResourceList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DirectResourceList">
      <soap12:operation soapAction="http://tempuri.org/DirectResourceList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FbResource">
      <soap12:operation soapAction="http://tempuri.org/FbResource" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FbDirectResource">
      <soap12:operation soapAction="http://tempuri.org/FbDirectResource" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DirectToOrder">
      <soap12:operation soapAction="http://tempuri.org/DirectToOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmOrder">
      <soap12:operation soapAction="http://tempuri.org/ConfirmOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OutOrder">
      <soap12:operation soapAction="http://tempuri.org/OutOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ToBeConfirmedOrderList">
      <soap12:operation soapAction="http://tempuri.org/ToBeConfirmedOrderList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CompanyInfo">
      <soap12:operation soapAction="http://tempuri.org/CompanyInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OrderHistoryList">
      <soap12:operation soapAction="http://tempuri.org/OrderHistoryList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResourceOrderDetail">
      <soap12:operation soapAction="http://tempuri.org/ResourceOrderDetail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BackResource">
      <soap12:operation soapAction="http://tempuri.org/BackResource" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadCredential">
      <soap12:operation soapAction="http://tempuri.org/UploadCredential" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OrderHistoryDetail">
      <soap12:operation soapAction="http://tempuri.org/OrderHistoryDetail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TradeOrderList">
      <soap12:operation soapAction="http://tempuri.org/TradeOrderList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ToTradeOrder">
      <soap12:operation soapAction="http://tempuri.org/ToTradeOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BaoBalance">
      <soap12:operation soapAction="http://tempuri.org/BaoBalance" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateCard">
      <soap12:operation soapAction="http://tempuri.org/ValidateCard" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendDirectResourceList">
      <soap12:operation soapAction="http://tempuri.org/SendDirectResourceList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistMarket">
      <soap12:operation soapAction="http://tempuri.org/RegistMarket" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MarketAppService">
    <wsdl:port name="MarketAppServiceSoap" binding="tns:MarketAppServiceSoap">
      <soap:address location="http://market.gtxh.com/AppService/MarketAppService.asmx" />
    </wsdl:port>
    <wsdl:port name="MarketAppServiceSoap12" binding="tns:MarketAppServiceSoap12">
      <soap12:address location="http://market.gtxh.com/AppService/MarketAppService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>