gtxh_m/Web References/com.gtxh.api/ResourceSupply.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Add">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="remark" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="lid" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="imgurl" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="int" type="s:int" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddSoapIn">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="AddSoapOut">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="AddHttpGetIn">
    <wsdl:part name="key" type="s:string" />
    <wsdl:part name="remark" type="s:string" />
    <wsdl:part name="lid" type="s:string" />
    <wsdl:part name="imgurl" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AddHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="AddHttpPostIn">
    <wsdl:part name="key" type="s:string" />
    <wsdl:part name="remark" type="s:string" />
    <wsdl:part name="lid" type="s:string" />
    <wsdl:part name="imgurl" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AddHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:portType name="ResourceSupplySoap">
    <wsdl:operation name="Add">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">添加委托找货</wsdl:documentation>
      <wsdl:input message="tns:AddSoapIn" />
      <wsdl:output message="tns:AddSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ResourceSupplyHttpGet">
    <wsdl:operation name="Add">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">添加委托找货</wsdl:documentation>
      <wsdl:input message="tns:AddHttpGetIn" />
      <wsdl:output message="tns:AddHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ResourceSupplyHttpPost">
    <wsdl:operation name="Add">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">添加委托找货</wsdl:documentation>
      <wsdl:input message="tns:AddHttpPostIn" />
      <wsdl:output message="tns:AddHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ResourceSupplySoap" type="tns:ResourceSupplySoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ResourceSupplySoap12" type="tns:ResourceSupplySoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add">
      <soap12:operation soapAction="http://tempuri.org/Add" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ResourceSupplyHttpGet" type="tns:ResourceSupplyHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="Add">
      <http:operation location="/Add" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ResourceSupplyHttpPost" type="tns:ResourceSupplyHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="Add">
      <http:operation location="/Add" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ResourceSupply">
    <wsdl:port name="ResourceSupplySoap" binding="tns:ResourceSupplySoap">
      <soap:address location="http://api.gtxh.com/Service/ResourceSupply.asmx" />
    </wsdl:port>
    <wsdl:port name="ResourceSupplySoap12" binding="tns:ResourceSupplySoap12">
      <soap12:address location="http://api.gtxh.com/Service/ResourceSupply.asmx" />
    </wsdl:port>
    <wsdl:port name="ResourceSupplyHttpGet" binding="tns:ResourceSupplyHttpGet">
      <http:address location="http://api.gtxh.com/Service/ResourceSupply.asmx" />
    </wsdl:port>
    <wsdl:port name="ResourceSupplyHttpPost" binding="tns:ResourceSupplyHttpPost">
      <http:address location="http://api.gtxh.com/Service/ResourceSupply.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>